body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #f4f6f0; 
  font-family: 'Inter', sans-serif;
}

.atm-card {
  background-color: #2b4739;
  color: white;
  padding: 3rem;
  border-radius: 20px;
  text-align: center;
  width: 350px;
}

.atm-card h1 { font-size: 22px; font-weight: 500; opacity: 0.9; }
.atm-card h2 { font-size: 35px; margin-bottom: 2rem; color: white; }

.atm-card input {
  width: 90%;
  padding: 1rem;
  border-radius: 10px;
  border: none;
  margin-bottom: 1rem;
  text-align: center;
}

.atm-buttons {
  display: flex;
  gap: 1rem;
}

.atm-buttons button {
  flex: 1;
  padding: 1rem;
  border-radius: 10px;
  border: none;
  font-weight: bold;
  cursor: pointer;
}

.btn-deposit { background-color: white; color: #1b3025; }
.btn-withdraw { background-color: #1b3025; color: white; }